<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="row">
    <div class="col"></div>
    <div class="col-6.5">
        <div class="m-4" style="text-align: center;">
            <h3 class="text-left">Baked by {{ showCake.name }}</h3>
            <img src="{{ showCake.image }}" class="rounded" style="height: 350px; width: 350px;" alt="a cake">
            <div style="display: inline-block; vertical-align: middle;">
                <p>Average rating: PLACEHOLDER FOR AVERAGE STARS</p>
                <div *ngFor="let review of showCake.reviews">
                    <p>"{{ review.comment }}"</p>
                    <p>{{ review.rating }} ★'s</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
